:root{
    --e-h: #212;
    --cosmic-latte: #fef8e6;
}
body {
    background-color: var(--e-h);

}
#canvas-area{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
#canvas-area canvas{
    width: 100%;
    height: 100%;
    background-color: #0000 !important;
}